:root {
  --base-clr: #fff;
  --text-clr: #1C3554;
  --btn-clr: #F72585;
  --bg-clr: #3a3a3a;
}

body {
  //color: var(--text-clr);
  //background: linear-gradient(to bottom right, #92C8FF, #FF7E85);
}

a {
  //color: var(--text-clr);
}

button {
  //background-color: var(--btn-clr);
  //color: var(--text-clr);
}

.App {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.dashboardHome {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;
  grid-template-rows: 100%;
}

.header {
  width: 100%;
  height: 100%;

  &__wrapper {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1.5fr;
    align-items: center;
    justify-items: center;
    height: 100%;
  }

  &__logo {
    margin-top: 3.125rem;

    &-link {

    }

    &-img {
      width: 9rem;
    }
  }

  &__navigation {
    padding: 1.875rem;

    &-list {

    }

    &-item {
      text-decoration: none;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      color: black;
      margin-bottom: 0.938rem;
    }

    &-link {
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      border: 0;
      border-radius: 3.125rem;
      width: 12rem;
      height: 3.75rem;
      padding-left: 1.25rem;
    }

    &-img {
      margin-right: 1.563rem;
      width: 2rem;
      padding: 0.2rem;
      border-radius: 0.5rem;
      border: 0;
      background-color: black;
    }

    &-text {

    }
  }

  &__support {

    &-container {

    }

    &-link {
      text-decoration: none;
      color: black;
    }

    &-item {
      padding-top: 0.938rem;
    }

    &-mainText {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0.5rem;
    }

    &-text {
      font-size: 16px;
      line-height: 22px;
    }

    &-img {
      padding-left: 2.5rem;
    }
  }
}


// COURSES

.lessonTitle {
  display: flex;
  justify-content: space-between;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-overlay p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.courses {
  width: 100%;
  height: 100%;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    padding: 2rem;
    background-color: #eaeaea;
    border-radius: 20px;
    margin: 2rem;

    &-test {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      &-unitParts {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-units {
        background-color: #555555;
        display: flex;
        width: 85%;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;

        &-text {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          color: #fff;

          h1 {
            font-size: 23px;
            font-weight: 700;
          }

          p {
            font-size: 17px;
            font-weight: 500;
          }
        }

        &-btn {
          padding: 1rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          background-color: #2ecc71;
          color: #fff;
          font-size: 13px;
          font-weight: 700;
          border-radius: 1rem;
          border: 1px solid #999999;
          box-shadow: 1px 1px 1px #999999;
        }
      }

      &-steps {
        display: flex;
        justify-content: center;
        width: 85%;
        padding: 1rem;

        &-stepsBtns {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          &-img {
            width: 5rem;
            cursor: pointer;
          }

          button {
            border: 0;
            background-color: transparent;
          }
        }

        &-pidr {
          position: relative;

          &-pidr1 {
            position: absolute;
            bottom: 0;
          }

          &-pidr2 {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

    &-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 2rem;

      &-btn {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      button {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 2rem;
        border: none;
        border-radius: 15px;
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }

      &-xp {
        width: 85%;

        &-progressBar {
          border: 2px solid #E5E5E5;
          border-radius: 0.5rem;
          padding: 1rem;
          background-color: #fff;

          h1 {
            font-size: 22px;
            font-weight: 700;
            color: #4B4B4B;
          }

          a {
            font-size: 13px;
            font-weight: 700;
            color: #1CB0F6;
          }

          &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
              cursor: pointer;
            }
          }

          &-bar {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 0.7rem;
            margin-bottom: 1rem;


            img {
              width: 50px;
              height: 50px;
            }

            &-progress {
              display: flex;
              flex-direction: column;
              flex-grow: 1;


              p {
                font-size: 14px;
                color: #666;
              }

              &-t {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              &-bar {
                position: relative;
                width: 100%;
                height: 10px;
                margin-right: 1rem;
                background-color: #e0e0e0;
                border-radius: 5px;
                overflow: hidden;

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: var(--progress-width);
                  background-color: #ffd700;
                  border-radius: 5px;
                  transition: width 0.3s ease; // Анимация
                }

                /* Text inside the progress bar */
                span {
                  position: absolute;
                  top: -20px;
                  left: 50%;
                  transform: translateX(-50%);
                  font-size: 12px;
                  color: #333;
                }
              }
            }
          }
        }

        &-progressGraph {
          // Additional styles for progress graph can go here if needed
        }
      }
    }
  }
}


.login {
  display: flex;
  min-height: 100vh;
  background-image: url("src/assets/images/loginBg.svg");
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__text {
    flex: 1;
    padding: 2rem 2rem;
    color: #ffffff;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      color: #ffb400;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: #FF9500;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  &__form {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;

    &-wrapper {
      height: 100%;
      width: 85%;
      margin: 0 auto;
    }

    &-title {
      text-align: center;

      img {
        max-width: 120px;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #222;
      }

      p {
        color: #666;
        font-size: 0.9rem;
      }
    }

    &-item {
      margin-bottom: 1.5rem;

      &-text {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: #333;
        font-weight: bold;
        margin-top: 1rem;
      }

      input {
        width: 94%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        outline: none;

        &:focus {
          border-color: #ffb400;
          box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
        }
      }
    }

    &-passwords {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      &-check {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          margin-right: 0.5rem;
          padding: 30px;
        }

        input[type="checkbox"] {
          width: 1rem; /* Set desired width */
          height: 1rem; /* Set desired height */
          transform: scale(1.5); /* Scale it proportionally */
          cursor: pointer; /* Changes the cursor to a pointer */
        }

        span {
          font-size: 0.9rem;
          color: #666;
        }
      }

      &-forgot {
        font-size: 0.9rem;
        color: #ffb400;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-submit {
      text-align: center;

      button {
        padding: 0.8rem 7rem;
        border: none;
        background: #ffb400;
        color: #fff;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #ff9f00;
        }
      }
    }

    &-link {
      text-align: center;
      margin-top: 1rem;

      &-text {
        font-size: 0.9rem;
        color: #666;

        .login__form-link-text-nav {
          color: #ffb400;
          font-weight: bold;
          text-decoration: none;
          padding-left: 0.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__forgotForm {
    flex: 1;
    padding: 2rem 2rem;
    background-color: #fff;
    border-radius: 1rem;

    &-wrapper {
      height: 100%;
      width: 85%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      text-align: center;

      img {
        max-width: 120px;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #222;
      }

      p {
        color: #666;
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
    }

    &-item {
      margin-bottom: 1.5rem;

      &-text {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: #333;
        font-weight: bold;
        margin-top: 1rem;
      }

      input {
        width: 94%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        outline: none;

        &:focus {
          border-color: #ffb400;
          box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
        }
      }
    }

    &-passwords {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      &-check {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          margin-right: 0.5rem;
          padding: 30px;
        }

        input[type="checkbox"] {
          width: 1rem; /* Set desired width */
          height: 1rem; /* Set desired height */
          transform: scale(1.5); /* Scale it proportionally */
          cursor: pointer; /* Changes the cursor to a pointer */
        }

        span {
          font-size: 0.9rem;
          color: #666;
        }
      }

      &-forgot {
        font-size: 0.9rem;
        color: #ffb400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-btns {
      display: flex;
      justify-content: center;
      gap: 1rem;

      &-backbtn {
        width: 12rem;
        padding: 0.8rem 1.75rem;
        border: 2px solid #ffb400;
        background: #fff;
        color: #ffb400;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          color: white;
          background: #ffb400;
        }
      }

      &-submitbtn {
        width: 12rem;
        padding: 0.8rem 1.75rem;
        border: none;
        background: #ffb400;
        color: #fff;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #fff;
          color: #ffb400;
          border: 2px solid #ffb400;
        }
      }
    }

    &-back {
      padding: 0.8rem 1.75rem;
      border: none;
      background: #ffb400;
      color: #fff;
      font-size: 1rem;
      border-radius: 25px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #ff9f00;
      }
    }

    &-link {
      text-align: center;
      margin-top: 1rem;

      &-text {
        font-size: 0.9rem;
        color: #666;

        .login__form-link-text-nav {
          color: #ffb400;
          font-weight: bold;
          text-decoration: none;
          padding-left: 0.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.register {
  display: flex;
  min-height: 100vh;
  background-image: url("src/assets/images/loginBg.svg");
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__text {
    flex: 1;
    padding: 2rem 2rem;
    color: #ffffff;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      color: #ffb400;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 1rem 0;
      color: #FF9500;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  &__form {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;

    &-wrapper {
      width: 85%;
      margin: 0 auto;
    }

    &-title {
      text-align: center;

      img {
        max-width: 120px;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #222;
      }

      p {
        color: #666;
        font-size: 0.9rem;
      }
    }

    &-item {
      margin-bottom: 1.5rem;

      &-text {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        color: #333;
        font-weight: bold;
        margin-top: 1rem;
      }

      input {
        width: 94%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        outline: none;

        &:focus {
          border-color: #ffb400;
          box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
        }
      }
    }

    &-passwords {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      &-check {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          margin-right: 0.5rem;
          padding: 30px;
        }

        input[type="checkbox"] {
          width: 1rem; /* Set desired width */
          height: 1rem; /* Set desired height */
          transform: scale(1.5); /* Scale it proportionally */
          cursor: pointer; /* Changes the cursor to a pointer */
        }

        span {
          font-size: 0.9rem;
          color: #666;
        }
      }

      &-forgot {
        font-size: 0.9rem;
        color: #ffb400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-submit {
      text-align: center;

      button {
        padding: 0.8rem 7rem;
        border: none;
        background: #ffb400;
        color: #fff;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #ff9f00;
        }
      }
    }

    &-arrow {
      &-icon {
        cursor: pointer;
        transition: transform 0.2s;
        stroke: #ffb400;

        &:hover {
          transform: scale(1.1); // Makes the arrow slightly larger on hover
          stroke: #FF9500; // Optional: Darker hover effect
        }
      }
    }

    &-navigation {
      text-align: center;

      button {
        padding: 0.8rem 7rem;
        border: none;
        background: #ffb400;
        color: #fff;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #ff9f00;
        }
      }
    }

    &-link {
      text-align: center;
      margin-top: 1rem;

      &-text {
        font-size: 0.9rem;
        color: #666;

        &-nav {
          color: #ffb400;
          font-weight: bold;
          text-decoration: none;
          padding-left: 0.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9; // Light background

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333; // Dark gray for headings
  }

  .error {
    color: #e74c3c; // Red for errors
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .message {
    color: #2ecc71; // Green for success messages
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 400px;
    background-color: #fff; // White card background
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
      color: #444;
    }

    p {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    input {
      width: 100%;
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid #ccc; // Light gray border
      border-radius: 4px;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        border-color: #3498db; // Highlight with blue on focus
        box-shadow: 0 0 4px rgba(52, 152, 219, 0.3);
      }
    }

    button {
      padding: 0.8rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 0.5rem 0;

      &.back {
        background-color: #e0e0e0; // Light gray for back button
        color: #555; // Dark gray text
        &:hover {
          background-color: #d6d6d6;
        }
      }

      &.next {
        background-color: #3498db; // Blue for next button
        color: #fff;

        &:hover {
          background-color: #2980b9; // Darker blue on hover
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        flex: 1;
        margin: 0 0.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__auth {


    &-buttons {
      display: flex;
      gap: 0.8rem;

      button {
        width: 6rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: none;
        color: #fff;
        background-color: #0B00AE;
        font-weight: bold;
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 6rem;
    right: 2rem;

    button {
      width: 6rem;
      height: 2rem;
      border-radius: 0.5rem;
      border: none;
      color: #fff;
      background-color: #0B00AE;
    }
  }

  &__dropdown.show {
    display: block;
  }

  &__wrapper {
    background-color: #fff;
    border-radius: 1rem;
    width: 97%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;
  }

  &__part1 {
    border-radius: 1rem;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      padding: 0 1.5rem;

      p {
        font-size: 14px;
        font-weight: 300;
      }

      h1 {
        color: #0B00AE;
        font-size: 24px;
        font-weight: 600;
      }
    }

    &-stats {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem;
      border-radius: 1rem;
    }

    &-profile {
      img {
        width: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
  }

  &__part2 {
    border-radius: 1rem;

    &-header {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1rem;
      padding: 0 1.5rem;
    }

    &-section {
      display: flex;
      flex-direction: column;

      h3 {
        color: #102844;
        font-size: 24px;
      }
    }

    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #222222;
      }

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #0B00AE;
        color: #fff;
        font-weight: bold;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 1.5rem;
      }
    }

    &-course-list {
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      width: 100%;
      height: 14rem;
    }

    &-community-list {
      padding: 0.5rem;
      border-radius: 0.5rem;
      display: grid;
      gap: 0.65rem;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      background-color: rgba(230, 230, 230, 0.15);
    }
  }

  &__part3 {
    border-radius: 1rem;

    &-header {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-bottom: 1.5rem;
    }

    &-section1 {
      display: flex;
      flex-direction: column;
      padding: 0 1.5rem;

      h3 {
        color: #102844;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    &-section2 {
      display: flex;
      flex-direction: column;

      h3 {
        color: #102844;
        font-size: 1.5rem;
      }
    }

    &-course-list {
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 100%;
    }

    &-activity-list {
      border-radius: 1rem;
    }

    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #222222;
      }

      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #0B00AE;
        color: #fff;
        font-weight: bold;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 1.5rem;
      }
    }

    &-activity-list {
      margin-right: 1.5rem;
      display: grid;
    }
  }
}

.pcourse-card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(230, 230, 230, 0.15);

  &__title {
    display: flex;
    align-items: center;

    img {
      width: 6rem;
      margin-right: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__instructor {
    margin-bottom: 0.7rem;
    color: #10102D;
    font-size: 18px;
    font-weight: 500;
  }

  &__details {
    margin-bottom: 0.7rem;
    font-size: 14px;
    font-weight: 400;
  }

  &__price {
    font-size: 16px;
    font-weight: 500;
    color: #0B00AE;
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #666666;
  }
}

.stat-card {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  &__context {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1rem;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &__data {
    &-count {
      font-size: 24px;
      font-weight: bold;
      color: #222222;
      margin-bottom: 0.3rem;
    }

    &-title {
      font-size: 14px;
      color: #666666;
    }
  }

  &__progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-top: 1rem;
    position: relative;

    &__progress {
      height: 100%;
      background-color: #007bff;
      border-radius: 4px;
      transition: width 0.3s ease;
    }

    &__percentage {
      position: absolute;
      top: -1.5rem;
      right: 0;
      font-size: 12px;
      color: #666666;
      font-weight: bold;
    }
  }
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    border-radius: 1rem;
    width: 97%;
    height: 95%;
    grid-template-columns: 1fr;
    background-color: #f5f5f5e9;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  &__part1 {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;

    &-profileCard {
      display: grid;
      grid-template-columns: 1fr 7fr;
      justify-self: start;

      &-ava {
        width: 220px;
        height: 220px;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-cardInfo {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-changePasswordButton {
          button {
            padding: 10px 30px;
          }
        }

        &-info {
          display: flex;
          justify-content: space-between;

          &Text {
            h1 {
              font-weight: 600;
              font-size: 32px;
              margin-bottom: 10px;
            }

            h3 {
              font-weight: 400;
              font-size: 21px;
              color: #ff9500;
            }
          }

          &Buttons {
            button {
              width: 50px;
              height: 50px;
              font-size: 16px;
              margin-left: 15px;
              cursor: pointer;
              border: none;
              background-color: #eceaf3;
              border-radius: 15px;

              img {
                width: 100%;
                height: auto;
              }
            }
          }

          &-changePasswordButton {
            button {
              margin-top: 10px;
              padding: 1em 2em;
              border: none;
              border-radius: 15px;
              background-color: #ff9500;
              color: white;
              cursor: pointer;
            }
          }
        }

        p {
          font-size: 16px;
        }
      }

      &-icons {
        display: flex;
        align-items: center;

        p {
          margin-right: 60px;
          display: flex;
          align-items: center;

          img {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__part2 {
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100%;
    margin: 0 0 0 25px;

    &-left,
    &-right {
      background-color: #fff;
      height: 78%;
      border-radius: 15px;
      margin: 0 25px 0 0;
      padding: 25px;
      display: flex;
      flex-direction: column;
    }

    &-left {

      &-courseText,
      &-section {
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;

        &-list {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        h1 {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        p {
          font-size: 14px;
          font-weight: 200;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      &-listItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        img {

        }

        &-opop {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            margin-bottom: 0.725rem;
          }
        }
      }

      .profile__list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        &Item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px solid #eee;

          &Left {
            display: flex;
            align-items: center;

            .profile__avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 10px;
            }

            .profile__instructor {
              color: #888;
              font-size: 12px;
            }
          }
        }
      }
    }

    &-right {

      &-courseText {
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;

        &-list {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        h1 {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        p {
          font-size: 14px;
          font-weight: 200;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      &-listItem {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        img {

        }

        &-opop {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            margin-bottom: 0.725rem;
          }
        }
      }

      &-messageInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          margin-right: 1rem;
        }

        h3 {
          font-size: 16px;
          margin-bottom: 0.725rem;
        }

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }

      &-icon {
        margin-left: 5px;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &__content {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      width: 400px;
      max-width: 100%;

      h3 {
        margin-bottom: 15px;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        button {
          background-color: #ff9500;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        color: #666;
      }
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
}

.modal {


  &__content {

    &-inputbtn {

    }

    input {
      padding: 5px;
    }

    button {
      padding: 10px;
      color: #fff;
      background-color: #0B00AE;
      border: none;
      border-radius: 10px;
    }

    &-close {
    }
  }
}

.course-card {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  background: url("src/assets/images/unCourses1.svg") no-repeat center center;
  padding: 1rem;
  width: 87%;
  height: 90%;
  justify-content: space-between;

  &:first-child {
    margin-right: 1rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    align-items: center;
    color: white;

    img {
      width: 3rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }

  &__image {
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    object-fit: cover;
  }

  &__title {

  }

  &__details {

  }

  &__instructor {

  }

  &__description {
    background-color: rgba(117, 117, 117, 0.75);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
  }
}

.community-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.activity-card {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: rgba(230, 230, 230, 0.15);
  padding: 0.5rem;

  &:first-child {
    margin-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.6rem;
    }

    p {
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__btns {
    display: flex;
    justify-content: end;
  }

  &__action1 {
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
    background-color: rgba(230, 230, 230, 0.15);
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  &__action2 {
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #0B00AE;
    color: white;
    font-weight: bold;
  }
}


.testField {
  min-height: 100vh;

  &__wrapper {
    background-color: #fff;
  }

  &__main {
    background: url("src/assets/images/testFieldMain.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #3a3a3a;
      opacity: 0.85;
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
    }

    p {
      font-size: 1.3rem;
      font-weight: 300;
      margin: 0.5rem 0 1rem 0;
    }

    button {
      width: 12rem;
      height: 3rem;
      background-color: rgba(228, 81, 81, 0.5);
      color: #fff;
      border: none;
      font-size: 1rem;
      margin: 0.5rem;

      &:hover {
        background-color: rgba(228, 81, 81, 0.5);
      }
    }

    &-content {
      color: #fff;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      z-index: 1;
      padding: 60px 30px;
    }
  }
}

.testLogin {
  background: url("src/assets/images/testFieldMain.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex; /* Flexbox for centering */
  align-items: center; /* Vertical centering */

  &__wrapper {
    width: 75%;
    margin: 0 auto;
  }

  &__form {
    max-width: 40%;
    margin: 0 auto;
    color: #fff;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.2);
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.8rem;
        font-weight: 600;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
      }

      margin-bottom: 1.5rem;
      z-index: 1;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      width: 100%;
      z-index: 1;


      &-text {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
      }

      input {
        width: 90%;
        padding: 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        border: none;
        margin-bottom: 0.5rem;
      }

      input::placeholder {
        font-size: 0.8rem;
        background-color: #fff;
      }

      input:focus {
        outline: none; /* Removes the default browser outline */
      }
    }

    &-passwords {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      &-check {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          width: 1rem;
          height: 1rem;
        }

        &:hover {
          color: #3a3a3a;
          transition: 0.2s ease;
        }
      }

      &-forgot {
        cursor: pointer;

        &:hover {
          color: #3a3a3a;
          transition: 0.2s ease;
        }
      }
    }

    &-submit {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.8rem;

      button {
        width: 60%;
        padding: 0.5rem;
        color: #fff;
        font-size: 1rem;
        border: none;
        background-color: #3a3a3a;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: rgba(58, 58, 58, 0.45);
          color: rgba(255, 255, 255, 0.45);
          transition: 0.2s ease;
        }
      }

      &-error {
        margin: 0.5rem;
        margin-bottom: 1rem;
      }
    }

    &-link {
      &-text {
        &-nav {
          text-decoration: none;
          color: #fff;
        }

        &-nav:hover {
          color: #3a3a3a;
          transition: 0.2s ease;
        }
      }
    }
  }
}


.lesson-page {
  margin: 2rem;
  padding: 2rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  background-color: #eaeaea;

  .lesson__title {
    grid-column: 1 / -1;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }

  .lesson__video-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    .lesson__video {
      width: 100%;
      max-width: 45rem;
      height: 25rem;
      border-radius: 10px;
    }
  }

  .lesson__details {
    width: 100%;

    h2 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }

  .lesson__content {
    grid-column: 1 / -1;
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
  }

  button {
    align-self: flex-end;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}

.lessonLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lesson__comments-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 45rem;

  h2 {
    font-size: 1.5rem;
    color: #333;
  }
}

.lesson__comments {
  width: 100%;
  max-width: 45rem;
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.lesson__comment {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.lesson__add-comment {
  display: flex;
  flex-direction: column;
}

.lesson__comment-input {
  resize: none;
  width: 100%;
  max-width: 44rem;
  height: 80px;
  margin-bottom: 10px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lesson__comment-button {
  align-self: flex-end;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lesson__comment-button:hover {
  background-color: #0056b3;
}


.profile {
  button {
    cursor: pointer;
  }
}

/* Overlay для затемнения фона */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Прозрачный черный цвет */
  z-index: 1000;
}

/* Контейнер модального окна */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1100; /* Поверх overlay */
}

/* Контент модального окна */
.modal__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;

    button {
      width: 6rem;
    }
  }

  input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.2rem 0;
  }

  button {
    padding: 10px 15px;
    background-color: #0B00AE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #102844;
    }
  }

  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

/* Затемнение фона */
.achievement-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
  z-index: 1000;
}

/* Контейнер достижения */
.achievement-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Белый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100; /* Поверх overlay */
  text-align: center;
  width: 80%; /* Для адаптивности */
  max-width: 400px; /* Максимальная ширина */
}

/* Иконка достижения */
.achievement-icon {
  font-size: 2rem;
  color: green;
  margin-bottom: 10px;
}

/* Изображение достижения */
.achievement-image {
  max-width: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

.testPage {
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 2rem;
  max-width: 50rem;
}
.test-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 2rem;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .test-results {
    text-align: center;
    font-size: 1.2rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5rem;
      color: #4caf50; // Green for successful submission
    }
  }

  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .test-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .test-question {
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;

      h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }

      .test-answers {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .test-answer {
          display: flex;
          align-items: center;
          gap: 10px;

          input[type="radio"] {
            width: 20px;
            height: 20px;
          }

          label {
            font-size: 1.1rem;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }

    .submit-button {
      padding: 10px 20px;
      font-size: 1.2rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
