@charset "UTF-8";
:root {
  --base-clr: #fff;
  --text-clr: #1C3554;
  --btn-clr: #F72585;
  --bg-clr: #3a3a3a;
}

.App {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.dashboardHome {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;
  grid-template-rows: 100%;
}

.header {
  width: 100%;
  height: 100%;
}
.header__wrapper {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1.5fr;
  align-items: center;
  justify-items: center;
  height: 100%;
}
.header__logo {
  margin-top: 3.125rem;
}
.header__logo-img {
  width: 9rem;
}
.header__navigation {
  padding: 1.875rem;
}
.header__navigation-item {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 0.938rem;
}
.header__navigation-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 3.125rem;
  width: 12rem;
  height: 3.75rem;
  padding-left: 1.25rem;
}
.header__navigation-img {
  margin-right: 1.563rem;
  width: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: black;
}
.header__support-link {
  text-decoration: none;
  color: black;
}
.header__support-item {
  padding-top: 0.938rem;
}
.header__support-mainText {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}
.header__support-text {
  font-size: 16px;
  line-height: 22px;
}
.header__support-img {
  padding-left: 2.5rem;
}

.courses {
  width: 100%;
  height: 100%;
}
.courses__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: center;
}
.courses__wrapper-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}
.courses__wrapper-test-steps {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.courses__wrapper-test-steps-pidr {
  position: relative;
}
.courses__wrapper-test-steps-pidr-pidr1 {
  position: absolute;
  bottom: 0;
}
.courses__wrapper-test-steps-pidr-pidr2 {
  position: absolute;
  top: 0;
  right: 0;
}
.courses__wrapper-test-steps-stepsBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.courses__wrapper-test-steps button {
  border: 0;
  background-color: transparent;
}
.courses__wrapper-test-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses__wrapper-test-units {
  background-color: #2ecc71;
  display: flex;
  width: 85%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.courses__wrapper-test-units-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.courses__wrapper-test-units-text h1 {
  font-size: 23px;
  font-weight: 700;
}
.courses__wrapper-test-units-text p {
  font-size: 17px;
  font-weight: 500;
}
.courses__wrapper-test-units-btn {
  padding: 1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #2ecc71;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 1rem;
  border: 1px solid #999999;
  box-shadow: 1px 1px 1px #999999;
}
.courses__wrapper-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.courses__wrapper-information-xp {
  width: 85%;
}
.courses__wrapper-information-xp-progressBar {
  border: 2px solid #E5E5E5;
  border-radius: 0.5rem;
  padding: 1rem;
}
.courses__wrapper-information-xp-progressBar h1 {
  font-size: 22px;
  font-weight: 700;
  color: #4B4B4B;
}
.courses__wrapper-information-xp-progressBar a {
  font-size: 13px;
  font-weight: 700;
  color: #1CB0F6;
}
.courses__wrapper-information-xp-progressBar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__wrapper-information-xp-progressBar-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
.courses__wrapper-information-xp-progressBar-bar img {
  width: 50px;
  height: 50px;
}
.courses__wrapper-information-xp-progressBar-bar-progress {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.courses__wrapper-information-xp-progressBar-bar-progress p {
  font-size: 14px;
  color: #666;
}
.courses__wrapper-information-xp-progressBar-bar-progress-t {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__wrapper-information-xp-progressBar-bar-progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  margin-right: 1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  /* Text inside the progress bar */
}
.courses__wrapper-information-xp-progressBar-bar-progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-width);
  background-color: #ffd700;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.courses__wrapper-information-xp-progressBar-bar-progress-bar span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}
.login {
  display: flex;
  min-height: 100vh;
  background-image: url("src/assets/images/loginBg.svg");
  background-size: cover;
  background-position: center;
}
.login__wrapper {
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .login__wrapper {
    flex-direction: column;
  }
}
.login__text {
  flex: 1;
  padding: 2rem 2rem;
  color: #ffffff;
}
.login__text-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb400;
}
.login__text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #FF9500;
}
.login__text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.login__text p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.login__form {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.login__form-wrapper {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}
.login__form-title {
  text-align: center;
}
.login__form-title img {
  max-width: 120px;
  margin-bottom: 1rem;
}
.login__form-title h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222;
}
.login__form-title p {
  color: #666;
  font-size: 0.9rem;
}
.login__form-item {
  margin-bottom: 1.5rem;
}
.login__form-item-text {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
  margin-top: 1rem;
}
.login__form-item input {
  width: 94%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}
.login__form-item input:focus {
  border-color: #ffb400;
  box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
}
.login__form-passwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.login__form-passwords-check {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login__form-passwords-check input {
  margin-right: 0.5rem;
  padding: 30px;
}
.login__form-passwords-check input[type=checkbox] {
  width: 1rem; /* Set desired width */
  height: 1rem; /* Set desired height */
  transform: scale(1.5); /* Scale it proportionally */
  cursor: pointer; /* Changes the cursor to a pointer */
}
.login__form-passwords-check span {
  font-size: 0.9rem;
  color: #666;
}
.login__form-passwords-forgot {
  font-size: 0.9rem;
  color: #ffb400;
  text-decoration: none;
  cursor: pointer;
}
.login__form-passwords-forgot:hover {
  text-decoration: underline;
}
.login__form-submit {
  text-align: center;
}
.login__form-submit button {
  padding: 0.8rem 7rem;
  border: none;
  background: #ffb400;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login__form-submit button:hover {
  background: #ff9f00;
}
.login__form-link {
  text-align: center;
  margin-top: 1rem;
}
.login__form-link-text {
  font-size: 0.9rem;
  color: #666;
}
.login__form-link-text .login__form-link-text-nav {
  color: #ffb400;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0.25rem;
}
.login__form-link-text .login__form-link-text-nav:hover {
  text-decoration: underline;
}
.login__forgotForm {
  flex: 1;
  padding: 2rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.login__forgotForm-wrapper {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login__forgotForm-title {
  text-align: center;
}
.login__forgotForm-title img {
  max-width: 120px;
  margin-bottom: 1rem;
}
.login__forgotForm-title h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}
.login__forgotForm-title p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.login__forgotForm-item {
  margin-bottom: 1.5rem;
}
.login__forgotForm-item-text {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
  margin-top: 1rem;
}
.login__forgotForm-item input {
  width: 94%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}
.login__forgotForm-item input:focus {
  border-color: #ffb400;
  box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
}
.login__forgotForm-passwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.login__forgotForm-passwords-check {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login__forgotForm-passwords-check input {
  margin-right: 0.5rem;
  padding: 30px;
}
.login__forgotForm-passwords-check input[type=checkbox] {
  width: 1rem; /* Set desired width */
  height: 1rem; /* Set desired height */
  transform: scale(1.5); /* Scale it proportionally */
  cursor: pointer; /* Changes the cursor to a pointer */
}
.login__forgotForm-passwords-check span {
  font-size: 0.9rem;
  color: #666;
}
.login__forgotForm-passwords-forgot {
  font-size: 0.9rem;
  color: #ffb400;
  text-decoration: none;
}
.login__forgotForm-passwords-forgot:hover {
  text-decoration: underline;
}
.login__forgotForm-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.login__forgotForm-btns-backbtn {
  width: 12rem;
  padding: 0.8rem 1.75rem;
  border: 2px solid #ffb400;
  background: #fff;
  color: #ffb400;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login__forgotForm-btns-backbtn:hover {
  color: white;
  background: #ffb400;
}
.login__forgotForm-btns-submitbtn {
  width: 12rem;
  padding: 0.8rem 1.75rem;
  border: none;
  background: #ffb400;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login__forgotForm-btns-submitbtn:hover {
  background: #fff;
  color: #ffb400;
  border: 2px solid #ffb400;
}
.login__forgotForm-back {
  padding: 0.8rem 1.75rem;
  border: none;
  background: #ffb400;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login__forgotForm-back:hover {
  background: #ff9f00;
}
.login__forgotForm-link {
  text-align: center;
  margin-top: 1rem;
}
.login__forgotForm-link-text {
  font-size: 0.9rem;
  color: #666;
}
.login__forgotForm-link-text .login__form-link-text-nav {
  color: #ffb400;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0.25rem;
}
.login__forgotForm-link-text .login__form-link-text-nav:hover {
  text-decoration: underline;
}

.register {
  display: flex;
  min-height: 100vh;
  background-image: url("src/assets/images/loginBg.svg");
  background-size: cover;
  background-position: center;
}
.register__wrapper {
  display: flex;
  flex: 1;
  margin: auto;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .register__wrapper {
    flex-direction: column;
  }
}
.register__text {
  flex: 1;
  padding: 2rem 2rem;
  color: #ffffff;
}
.register__text-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb400;
}
.register__text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #FF9500;
}
.register__text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.register__text p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.register__form {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.register__form-wrapper {
  width: 85%;
  margin: 0 auto;
}
.register__form-title {
  text-align: center;
}
.register__form-title img {
  max-width: 120px;
  margin-bottom: 1rem;
}
.register__form-title h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #222;
}
.register__form-title p {
  color: #666;
  font-size: 0.9rem;
}
.register__form-item {
  margin-bottom: 1.5rem;
}
.register__form-item-text {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
  margin-top: 1rem;
}
.register__form-item input {
  width: 94%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}
.register__form-item input:focus {
  border-color: #ffb400;
  box-shadow: 0 0 4px rgba(255, 180, 0, 0.5);
}
.register__form-passwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.register__form-passwords-check {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.register__form-passwords-check input {
  margin-right: 0.5rem;
  padding: 30px;
}
.register__form-passwords-check input[type=checkbox] {
  width: 1rem; /* Set desired width */
  height: 1rem; /* Set desired height */
  transform: scale(1.5); /* Scale it proportionally */
  cursor: pointer; /* Changes the cursor to a pointer */
}
.register__form-passwords-check span {
  font-size: 0.9rem;
  color: #666;
}
.register__form-passwords-forgot {
  font-size: 0.9rem;
  color: #ffb400;
  text-decoration: none;
}
.register__form-passwords-forgot:hover {
  text-decoration: underline;
}
.register__form-submit {
  text-align: center;
}
.register__form-submit button {
  padding: 0.8rem 7rem;
  border: none;
  background: #ffb400;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.register__form-submit button:hover {
  background: #ff9f00;
}
.register__form-arrow-icon {
  cursor: pointer;
  transition: transform 0.2s;
  stroke: #ffb400;
}
.register__form-arrow-icon:hover {
  transform: scale(1.1);
  stroke: #FF9500;
}
.register__form-navigation {
  text-align: center;
}
.register__form-navigation button {
  padding: 0.8rem 7rem;
  border: none;
  background: #ffb400;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.register__form-navigation button:hover {
  background: #ff9f00;
}
.register__form-link {
  text-align: center;
  margin-top: 1rem;
}
.register__form-link-text {
  font-size: 0.9rem;
  color: #666;
}
.register__form-link-text-nav {
  color: #ffb400;
  font-weight: bold;
  text-decoration: none;
  padding-left: 0.25rem;
}
.register__form-link-text-nav:hover {
  text-decoration: underline;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.forgot-password h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}
.forgot-password .error {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
.forgot-password .message {
  color: #2ecc71;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
.forgot-password form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.forgot-password form h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #444;
}
.forgot-password form p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
  text-align: center;
}
.forgot-password form input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.forgot-password form input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 4px rgba(52, 152, 219, 0.3);
}
.forgot-password form button {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem 0;
}
.forgot-password form button.back {
  background-color: #e0e0e0;
  color: #555;
}
.forgot-password form button.back:hover {
  background-color: #d6d6d6;
}
.forgot-password form button.next {
  background-color: #3498db;
  color: #fff;
}
.forgot-password form button.next:hover {
  background-color: #2980b9;
}
.forgot-password form .buttons {
  display: flex;
  justify-content: space-between;
}
.forgot-password form .buttons button {
  flex: 1;
  margin: 0 0.5rem;
}
.forgot-password form .buttons button:first-child {
  margin-left: 0;
}
.forgot-password form .buttons button:last-child {
  margin-right: 0;
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__auth-buttons {
  display: flex;
  gap: 0.8rem;
}
.dashboard__auth-buttons button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: #0B00AE;
  font-weight: bold;
}
.dashboard__dropdown {
  display: none;
  position: absolute;
  top: 6rem;
  right: 2rem;
}
.dashboard__dropdown button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: #0B00AE;
}
.dashboard__dropdown.show {
  display: block;
}
.dashboard__wrapper {
  background-color: #fff;
  border-radius: 1rem;
  width: 97%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr 1fr;
}
.dashboard__part1 {
  border-radius: 1rem;
}
.dashboard__part1-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
}
.dashboard__part1-header p {
  font-size: 14px;
  font-weight: 300;
}
.dashboard__part1-header h1 {
  color: #0B00AE;
  font-size: 24px;
  font-weight: 600;
}
.dashboard__part1-stats {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1rem;
}
.dashboard__part1-profile img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.dashboard__part2 {
  border-radius: 1rem;
}
.dashboard__part2-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 0 1.5rem;
}
.dashboard__part2-section {
  display: flex;
  flex-direction: column;
}
.dashboard__part2-section h3 {
  color: #102844;
  font-size: 24px;
}
.dashboard__part2-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.dashboard__part2-left h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222;
}
.dashboard__part2-left button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0B00AE;
  color: #fff;
  font-weight: bold;
}
.dashboard__part2-right {
  display: flex;
  flex-direction: column;
}
.dashboard__part2-right h3 {
  margin-bottom: 1.5rem;
}
.dashboard__part2-course-list {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 14rem;
}
.dashboard__part2-community-list {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.65rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(230, 230, 230, 0.15);
}
.dashboard__part3 {
  border-radius: 1rem;
}
.dashboard__part3-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 1.5rem;
}
.dashboard__part3-section1 {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
.dashboard__part3-section1 h3 {
  color: #102844;
  font-size: 1.5rem;
  font-weight: bold;
}
.dashboard__part3-section2 {
  display: flex;
  flex-direction: column;
}
.dashboard__part3-section2 h3 {
  color: #102844;
  font-size: 1.5rem;
}
.dashboard__part3-course-list {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}
.dashboard__part3-activity-list {
  border-radius: 1rem;
}
.dashboard__part3-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.dashboard__part3-left h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222;
}
.dashboard__part3-left button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0B00AE;
  color: #fff;
  font-weight: bold;
}
.dashboard__part3-right {
  display: flex;
  flex-direction: column;
}
.dashboard__part3-right h3 {
  margin-bottom: 1.5rem;
}
.dashboard__part3-activity-list {
  margin-right: 1.5rem;
  display: grid;
}

.pcourse-card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(230, 230, 230, 0.15);
}
.pcourse-card__title {
  display: flex;
  align-items: center;
}
.pcourse-card__title img {
  width: 6rem;
  margin-right: 1rem;
}
.pcourse-card__content {
  display: flex;
  flex-direction: column;
}
.pcourse-card__instructor {
  margin-bottom: 0.7rem;
  color: #10102D;
  font-size: 18px;
  font-weight: 500;
}
.pcourse-card__details {
  margin-bottom: 0.7rem;
  font-size: 14px;
  font-weight: 400;
}
.pcourse-card__price {
  font-size: 16px;
  font-weight: 500;
  color: #0B00AE;
}
.pcourse-card__description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #666666;
}

.stat-card {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.stat-card__context {
  display: flex;
  align-items: center;
}
.stat-card__icon {
  margin-right: 1rem;
}
.stat-card__icon img {
  width: 40px;
  height: 40px;
}
.stat-card__data-count {
  font-size: 24px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 0.3rem;
}
.stat-card__data-title {
  font-size: 14px;
  color: #666666;
}
.stat-card__progress-bar {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-top: 1rem;
  position: relative;
}
.stat-card__progress-bar__progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 4px;
  transition: width 0.3s ease;
}
.stat-card__progress-bar__percentage {
  position: absolute;
  top: -1.5rem;
  right: 0;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__wrapper {
  border-radius: 1rem;
  width: 97%;
  height: 95%;
  grid-template-columns: 1fr;
  background-color: rgba(245, 245, 245, 0.9137254902);
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.profile__part1 {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  margin: 25px;
}
.profile__part1-profileCard {
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-self: start;
}
.profile__part1-profileCard-ava {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
}
.profile__part1-profileCard-ava img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__part1-profileCard-cardInfo {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__part1-profileCard-cardInfo-changePasswordButton button {
  padding: 10px 30px;
}
.profile__part1-profileCard-cardInfo-info {
  display: flex;
  justify-content: space-between;
}
.profile__part1-profileCard-cardInfo-infoText h1 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}
.profile__part1-profileCard-cardInfo-infoText h3 {
  font-weight: 400;
  font-size: 21px;
  color: #ff9500;
}
.profile__part1-profileCard-cardInfo-infoButtons button {
  width: 50px;
  height: 50px;
  font-size: 16px;
  margin-left: 15px;
  cursor: pointer;
  border: none;
  background-color: #eceaf3;
  border-radius: 15px;
}
.profile__part1-profileCard-cardInfo-infoButtons button img {
  width: 100%;
  height: auto;
}
.profile__part1-profileCard-cardInfo-info-changePasswordButton button {
  margin-top: 10px;
  padding: 1em 2em;
  border: none;
  border-radius: 15px;
  background-color: #ff9500;
  color: white;
  cursor: pointer;
}
.profile__part1-profileCard-cardInfo p {
  font-size: 16px;
}
.profile__part1-profileCard-icons {
  display: flex;
  align-items: center;
}
.profile__part1-profileCard-icons p {
  margin-right: 60px;
  display: flex;
  align-items: center;
}
.profile__part1-profileCard-icons p img {
  margin-right: 20px;
}
.profile__part2 {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
  margin: 0 0 0 25px;
}
.profile__part2-left, .profile__part2-right {
  background-color: #fff;
  height: 78%;
  border-radius: 15px;
  margin: 0 25px 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.profile__part2-left-courseText, .profile__part2-left-section {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.profile__part2-left-courseText-list, .profile__part2-left-section-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile__part2-left-courseText h1, .profile__part2-left-section h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.profile__part2-left-courseText p, .profile__part2-left-section p {
  font-size: 14px;
  font-weight: 200;
}
.profile__part2-left-courseText button, .profile__part2-left-section button {
  background: none;
  border: none;
  cursor: pointer;
}
.profile__part2-left-courseText button img, .profile__part2-left-section button img {
  width: 20px;
  height: 20px;
}
.profile__part2-left-listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.profile__part2-left-listItem-opop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__part2-left-listItem-opop h3 {
  margin-bottom: 0.725rem;
}
.profile__part2-left .profile__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.profile__part2-left .profile__listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.profile__part2-left .profile__listItemLeft {
  display: flex;
  align-items: center;
}
.profile__part2-left .profile__listItemLeft .profile__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile__part2-left .profile__listItemLeft .profile__instructor {
  color: #888;
  font-size: 12px;
}
.profile__part2-right-courseText {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.profile__part2-right-courseText-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile__part2-right-courseText h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.profile__part2-right-courseText p {
  font-size: 14px;
  font-weight: 200;
}
.profile__part2-right-courseText button {
  background: none;
  border: none;
  cursor: pointer;
}
.profile__part2-right-courseText button img {
  width: 20px;
  height: 20px;
}
.profile__part2-right-listItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.profile__part2-right-listItem-opop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__part2-right-listItem-opop h3 {
  margin-bottom: 0.725rem;
}
.profile__part2-right-messageInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__part2-right-messageInfo img {
  margin-right: 1rem;
}
.profile__part2-right-messageInfo h3 {
  font-size: 16px;
  margin-bottom: 0.725rem;
}
.profile__part2-right-messageInfo p {
  font-size: 14px;
  font-weight: 300;
}
.profile__part2-right-icon {
  margin-left: 5px;
}
.profile__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.profile__modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 400px;
  max-width: 100%;
}
.profile__modal__content h3 {
  margin-bottom: 15px;
}
.profile__modal__content form {
  display: flex;
  flex-direction: column;
}
.profile__modal__content form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile__modal__content form button {
  background-color: #ff9500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile__modal__content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #666;
}
.profile__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__content input {
  padding: 5px;
}
.modal__content button {
  padding: 10px;
  color: #fff;
  background-color: #0B00AE;
  border: none;
  border-radius: 10px;
}
.course-card {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  background: url("src/assets/images/unCourses1.svg") no-repeat center center;
  padding: 1rem;
  width: 87%;
  height: 90%;
  justify-content: space-between;
}
.course-card:first-child {
  margin-right: 1rem;
}
.course-card__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
  color: white;
}
.course-card__content img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.course-card__image {
  width: 70%;
  height: 70%;
  border-radius: 1rem;
  object-fit: cover;
}
.course-card__description {
  background-color: rgba(117, 117, 117, 0.75);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
}

.community-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.community-card img {
  width: 3rem;
}
.community-card__content {
  display: flex;
  flex-direction: column;
}

.activity-card {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: rgba(230, 230, 230, 0.15);
  padding: 0.5rem;
}
.activity-card:first-child {
  margin-bottom: 0.5rem;
}
.activity-card__content {
  display: flex;
  align-items: center;
}
.activity-card__content img {
  margin-right: 0.6rem;
}
.activity-card__content p {
  font-size: 12px;
  font-weight: 600;
}
.activity-card__btns {
  display: flex;
  justify-content: end;
}
.activity-card__action1 {
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
  background-color: rgba(230, 230, 230, 0.15);
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
}
.activity-card__action2 {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0B00AE;
  color: white;
  font-weight: bold;
}

.testField {
  min-height: 100vh;
}
.testField__wrapper {
  background-color: #fff;
}
.testField__main {
  background: url("src/assets/images/testFieldMain.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.testField__main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a3a3a;
  opacity: 0.85;
}
.testField__main h1 {
  font-size: 4rem;
  font-weight: 600;
}
.testField__main p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
}
.testField__main button {
  width: 12rem;
  height: 3rem;
  background-color: rgba(228, 81, 81, 0.5);
  color: #fff;
  border: none;
  font-size: 1rem;
  margin: 0.5rem;
}
.testField__main button:hover {
  background-color: rgba(228, 81, 81, 0.5);
}
.testField__main-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 60px 30px;
}

.testLogin {
  background: url("src/assets/images/testFieldMain.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex; /* Flexbox for centering */
  align-items: center; /* Vertical centering */
}
.testLogin__wrapper {
  width: 75%;
  margin: 0 auto;
}
.testLogin__form {
  max-width: 40%;
  margin: 0 auto;
  color: #fff;
}
.testLogin__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 2px 10px 20px 10px rgba(0, 0, 0, 0.2);
}
.testLogin__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  z-index: 1;
}
.testLogin__form-title h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
.testLogin__form-title p {
  font-size: 1.2rem;
  font-weight: 400;
}
.testLogin__form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  z-index: 1;
}
.testLogin__form-item-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.testLogin__form-item input {
  width: 90%;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
}
.testLogin__form-item input::placeholder {
  font-size: 0.8rem;
  background-color: #fff;
}
.testLogin__form-item input:focus {
  outline: none; /* Removes the default browser outline */
}
.testLogin__form-passwords {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.testLogin__form-passwords-check {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.testLogin__form-passwords-check input {
  width: 1rem;
  height: 1rem;
}
.testLogin__form-passwords-check:hover {
  color: #3a3a3a;
  transition: 0.2s ease;
}
.testLogin__form-passwords-forgot {
  cursor: pointer;
}
.testLogin__form-passwords-forgot:hover {
  color: #3a3a3a;
  transition: 0.2s ease;
}
.testLogin__form-submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
}
.testLogin__form-submit button {
  width: 60%;
  padding: 0.5rem;
  color: #fff;
  font-size: 1rem;
  border: none;
  background-color: #3a3a3a;
  border-radius: 0.5rem;
  cursor: pointer;
}
.testLogin__form-submit button:hover {
  background-color: rgba(58, 58, 58, 0.45);
  color: rgba(255, 255, 255, 0.45);
  transition: 0.2s ease;
}
.testLogin__form-submit-error {
  margin: 0.5rem;
  margin-bottom: 1rem;
}
.testLogin__form-link-text-nav {
  text-decoration: none;
  color: #fff;
}
.testLogin__form-link-text-nav:hover {
  color: #3a3a3a;
  transition: 0.2s ease;
}

.lesson {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding: 2rem;
  gap: 1rem;
}
.lesson__left {
  width: 100%;
}
.lesson-right {
  width: 100%;
}
.lesson__video-section {
  width: 80%;
}
.lesson__video-section .lesson__video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.lesson__video-section .lesson__details h2 {
  font-size: 1.5rem;
  color: #333;
}
.lesson__video-section .lesson__details p {
  font-size: 1rem;
  color: #666;
}
.lesson__sidebar {
  width: 25%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
}
.lesson__sidebar h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.lesson__sidebar .lesson__list {
  list-style: none;
  padding: 0;
}
.lesson__sidebar .lesson__list .lesson__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.lesson__sidebar .lesson__list .lesson__list-item span {
  font-size: 1rem;
}
.lesson__sidebar .lesson__list .lesson__list-item .lesson__checkbox {
  width: 20px;
  height: 20px;
}
.lesson__reviews {
  margin-top: 20px;
}
.lesson__reviews h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.lesson__reviews .lesson__review {
  margin-bottom: 15px;
}
.lesson__reviews .lesson__review strong {
  font-size: 1rem;
  color: #333;
}
.lesson__reviews .lesson__review p {
  font-size: 0.9rem;
  color: #555;
}
.lesson__reviews .lesson__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.lesson__reviews .lesson__form .lesson__textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.lesson__reviews .lesson__form .lesson__submit-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.lesson__reviews .lesson__form .lesson__submit-button:hover {
  background-color: #e65c00;
}

.profile button {
  cursor: pointer;
}

/* Overlay для затемнения фона */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Прозрачный черный цвет */
  z-index: 1000;
}

/* Контейнер модального окна */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1100; /* Поверх overlay */
}

/* Контент модального окна */
.modal__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.modal__content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal__content h2 {
  font-size: 20px;
  font-weight: 700;
}
.modal__content p {
  font-size: 14px;
  font-weight: 400;
}
.modal__content h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}
.modal__content-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
.modal__content-buttons button {
  width: 6rem;
}
.modal__content input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.2rem 0;
}
.modal__content button {
  padding: 10px 15px;
  background-color: #0B00AE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal__content button:hover {
  background-color: #102844;
}
.modal__content .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Затемнение фона */
.achievement-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
  z-index: 1000;
}

/* Контейнер достижения */
.achievement-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Белый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100; /* Поверх overlay */
  text-align: center;
  width: 80%; /* Для адаптивности */
  max-width: 400px; /* Максимальная ширина */
}

/* Иконка достижения */
.achievement-icon {
  font-size: 2rem;
  color: green;
  margin-bottom: 10px;
}

/* Изображение достижения */
.achievement-image {
  max-width: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
